@import "tailwindcss";

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
  scroll-behavior: smooth;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 2s ease-in-out;
}

.reveal.show {
  opacity: 1;
  transform: translateX(0px);
}
